{% extends 'base.html' %}

{% block content %}
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Premier site de mise en relation des acteurs de la chaine de valeur agricoles ivoirienne</h1>
      <h2>
        Nous sommes l'équipe Agrocorners, nous, vous simplifions la vie !</h2>
      <a href="{% url 'etradpage' %}" class="btn-get-started scrollto">Commencer</a>
    </div>
  </section>
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>A propos de Nous</h2>
            <h3>Nous Sommes decidés à valoriser le metier  d'agriculteurs en offrant de nouvelles perpespectives à l'agriculture</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p>
              Nous nourrissons l’ambition de créer une entreprise pour aider les agriculteurs à adopter les bonnes pratiques agricoles au sein de leur exploitation et à écouler plus facilement leurs produits.
La C.I étant un pays essentiellement basé sur l’agriculture avec plus de 80% d'exploitations familiales, nous avons pu remarquer qu’en dépit de ce fait les acteurs de ce secteur c’est-à-dire les producteurs vivent encore dans des conditions précaires et sont confrontés à des difficultés liées à la dégradation des sols, aux changements climatiques, à une faible productivité et à des pertes post-récoltes.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> L’accès en temps réel des acheteurs aux offres agricoles disponible
                L’l’accès spontané aux informations relatives aux offres de produits agricoles disponible</li>
              <li><i class="ri-check-double-line"></i>Gestion de la relation producteurs agricoles et acheteurs grâce à la plateforme numérique Agrocorners</li>  
              <li><i class="ri-check-double-line"></i> Cette plateforme permettra d’exécuter les contrats de ventes tout en représentant la communauté agricole</li>
            </ul>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container mb-6">

        <div class="text-center" data-aos="zoom-in">
          <h3>Acheteurs, iL est temps de gagner en éfficacité</h3>
          <p>Désormais gerez votre portefeuille fournisseurs dépuis vos locaux</p>
          <a class="cta-btn" href="tel:0153986297">Service cleint</a>
        </div>

      </div>
    </section>

    
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
